footer {
    background-image: url('../../public/images/welcome.jpg');
    background-size: cover;
    position: relative;
}
footer::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color:#1F75FE;
    opacity: 0.8;
    
}
.Footer{
    position: relative;
    z-index: 1;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;

}
.Logoo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Logoo img{
    height: 50%;
    width: 50%;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
}

.Address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.SocialMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.NewsLetter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}.NewsLetter div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    height: 40px;
    color: black;
}
.NewsLetter button {
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    margin-top: 30px;

}