.container {

  position: fixed; /* Makes the navbar fixed to the top of the viewport */
  top: 0; /* Positions the navbar at the top of the viewport */
  width: 100%; /* Makes the navbar take up the full width of the viewport */
  background-color: transparent; /* Sets the background color of the navbar to transparent */
  z-index: 1; 
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
}
.Logo {

    height: 70px;
    margin: 0;
    margin-right: 20rem;
    padding: 0;
    display: flex;
    justify-content: center;
    
}
.menu {
height: 70px;
padding-right: 2rem;
}

.menu ul {
 
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  color: white;
  margin: 0 10px;
}

.menu a {
  display: block;
  color: rgb(16, 25, 161);
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  padding: 0 10px;
}

.menu a:hover,a:focus {
  border-radius: 10px;
  color:  #FFB347;
}

.logSign{
  display: flex;
  margin-left:15rem ;
}

