form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom:40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .errors {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  button {
    background-color:#1F75FE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 20px;
  }
  
  button:hover {
    color: black;
  }
  
  .checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 10px;
    transform: translateY(1px);
  }
  
  .form-errors {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
  }
  